{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/signin" method="post">
    <img src="/images/logo.svg" height="24" alt="">

    <input type="email" name="email" placeholder="Seu E-mail">
    <input type="password" name="password" placeholder="Sua Senha">

    <button type="submit">Entrar</button>

    <a href="/signup">Criar conta grátis</a>
  </form>
{% endblock %}
